extends layout

block content
  div(class="header")
    div(class="authentication")
      if user
        span Welcome to The GAME!
        span
          a(href="/logout") Logout
      else
        a(href="/auth/google") Google &nbsp;
        a(href="/auth/facebook") Facebook
  #thegame
