extends layout

block content
  header(class="intro")
        div(class="intro-body")
            div(class="container")
                div(class="row")
                    div(class="col-md-8 col-md-offset-2")
                        img(src ="/assets/images/dagame.png")
                        | <br><br><br><br>
                        img(src = "/assets/images/homepagebackground.jpg")
  link(rel='stylesheet', href='/stylesheets/index.css')
