doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="/socket.io/socket.io.js")
  body
    block content
    include ./includes/login.jade
    script(src='dist/js/phaser.js')
    script(src='dist/js/game.js')
    script(src='javascripts/gamesockets.js')



