extends layout

block content
  header(class="intro")
    h1 Choose a room!
      <br><br><br>
      div(class="row")
        div(class=".col-md-6")
          div(class="container")
              img(src="http://ak.picdn.net/shutterstock/videos/465832/preview/stock-footage-opening-of-the-vault-door-the-alpha-channel-is-included.jpg")
            a(href="/thegame") Basham's Game
        div(class=".col-md-6")
          <br><br>
          div(class="container")
            a(href="/thegame")
              img(src="http://sea-slugs.googlecode.com/svn-history/r252/trunk/assets/gui/new-game-button.png")
