extends layout

block content
  header(class="intro")
    h1 Choose a room!
      div(class="intro-body")
        div(class="container")
          div(class="row")
            div(class="col-md-8 col-md-offset-2")
              a(href="/thegame") DA GAME!
